<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Lista de productos</h1>
        <ul>
          <% productos.forEach(producto => { %>
          <li><%= producto.nombre %> - $<%= producto.precio %></li>
          <% }) %>
        </ul>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
